<p id="notice"><%= notice %></p>

<h1>Selection of Rooms</h1>

<table border="1">
 
  <tbody>
    <% @rooms.each do |room| %>
	<th>
      <tr>
        <td><%= image_tag(room.room_type.image, :size=>"250x250") %></td>
		</tr>
		<tr>
        <td><b>Hotel Name:</b><%= room.hotel.hotel_name %></td>
		</tr>
		<tr>
        <td><b>Hotel Location:</b><%= room.hotel.location %></td>
		</tr><tr>
        <td><b>Breakfast Included:</b><%= room.room_type.breakfast %></td>
		</tr>
		<tr>
        <td><b>Floor:</b><%= room.floor %></td>
		</tr>
		<tr>
        <td><b>Streetview:</b><%= room.streetview %></td>
		</tr>
		<tr>
       <td> <%= link_to "| Book Room |", new_reservation_path(room_id: room) %>
       
      </tr>
	   <th colspan="3"></th>
	  </th>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Room', new_room_path %>
