<p id="notice"><%= notice %></p>

<h1>Listing Hotels</h1>

 
<table border="1">
<% @hotels.each do |hotel| %>
      <thead>
	  <tr>
	  <th> <%= image_tag(hotel.image, :size=>"250x250") %><br>  <th> 
        <th>  <b>Hotel name | </b><%= hotel.hotel_name %><br>
        <b>Location | </b><%= hotel.location %><br>
        <%= link_to '|View Rooms|', hotel %>
        <%= link_to '|Destroy|', hotel, method: :delete, data: { confirm: 'Are you sure?' } %>   </th>
	
	</tr>
	</thead>
 <% end %>
</table>



<%= link_to 'New Hotel', new_hotel_path %>
