<p id="notice"><%= notice %></p>

<p>
  <strong>Hotel name:</strong>
  <%= @hotel.hotel_name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @hotel.location %>
</p>

<%= link_to 'Edit', edit_hotel_path(@hotel) %> |
<%= link_to 'Back', hotels_path %>
