<!DOCTYPE html>
<html>
  <head>
   
    <%= stylesheet_link_tag 'application', media: 'all',
                                           'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
	   <% flash.each do |key, value| %>
			<div class="flash<%key%>">
				<%= value%>
			</div>
	    <%end%>
	   <%= link_to "The Parsons Group", root_path, id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right" >
            <li><%= link_to "Home",   root_path %></li>
            <li><%= link_to "Hotel",   hotels_path %></li>
			<li><%= link_to "Guests",  guests_path %></li>
			<li><%= link_to "Room",   rooms_path %></li>
		 
		   <% if !logged_in? %>
		   <li><%= link_to "Log in", login_path %></li>
		   <%else%>
		   <li> <%= link_to "Log out", logout_path %></li>
		   <% end %>
		   </ul>
		   </header>
		   
        </nav>
		
		

      <%= yield %>
	  
    David Parsons - davidparsons1

  </body>
  
</html>
